footer {
    border: rgb(185, 219, 241) solid 2px;
    color: white;
    background-color: #b1afaf4f;
    border-radius: 20px;
    position: fixed;
    top: 900px;
    right: 0px;


    padding-left: 40%;
    padding-right: 40%;
}